@model IEnumerable<MotoBikeShop.Data.Loai>

@{
    ViewData["Title"] = "Index";
}


<style>
    .product-card {
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
        display: flex;
        flex-direction: column;
        height: 100%; /* Đảm bảo rằng các card có cùng chiều cao */
    }

        .product-card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }



    .product-title {
        margin-bottom: 10px;
        font-weight: bold;
    }

    .product-price {
        margin-bottom: 10px;
    }

    .product-description {
        margin-bottom: 10px;
    }
</style>

<body>

    <!-- Phần header -->
    <header class="header">
        <a asp-action="Create" class="btn btn-danger" style=" color: white"> + Create New</a>
    </header>

    <!-- Phần body -->
    <div class="container">
        <h2>Categories</h2>
        <div class="row">
            @foreach (var category in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="card product-card">
                        <div class="card-body product-details">
                            <p class="card-text product-price">@category.MaLoai</p>
                            <h5 class="card-title product-title">@category.TenLoai</h5>
                            <p class="card-text product-price">@category.TenLoaiAlias</p>
                            <p class="card-text product-description">@category.MoTa</p>
                        </div>
                        <div class="card-footer product-actions">
                            <a asp-action="Details" asp-route-id="@category.MaLoai" class="btn btn-info">View</a>
                            <a asp-action="Edit" asp-route-id="@category.MaLoai" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@category.MaLoai" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</body>

