@model IEnumerable<MotoBikeShop.Data.HangHoa>

@{
    ViewData["Title"] = "Index";
}
<style>
    .product-card {
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
        display: flex;
        flex-direction: column;
        height: 100%; /* Đảm bảo rằng các card có cùng chiều cao */
    }

        .product-card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .product-image {
        flex: 1;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .product-title {
        margin-bottom: 10px;
        font-weight: bold;
    }

    .product-price {
        margin-bottom: 10px;
    }

    .product-description {
        margin-bottom: 10px;
    }
</style>

<body>

    <!-- Phần header -->
    <header class="header">
        <a asp-action="Create" class="btn btn-danger" style=" color: white"> + Create New</a>
    </header>

    <!-- Phần body -->
    <div class="container">
        <h2>Products</h2>
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="card product-card">
                        <img class="card-img-top product-image" src="~/images/@product.Hinh" alt="Product Image">
                        <div class="card-body product-details">
                            <p class="card-text product-price">@product.MaHH</p>
                            <h5 class="card-title product-title">@product.TenHH</h5>
                            <p class="card-text product-price">@product.TenAlias</p>
                            <p class="card-text product-price">@product.MoTaDonVi</p>
                            <p class="card-text product-price"> @product.DonGia</p>
                            <p class="card-text product-price">@product.NgaySX</p>
                            <p class="card-text product-price">@product.GiamGia</p>
                            <p class="card-text product-price">@product.SoLanXem</p>
                            <p class="card-text product-description">@product.MoTa</p>
                            <p class="card-text product-price">@product.MaLoaiNavigation?.TenLoai</p>
                            <p class="card-text product-price">@product.MaNCC</p>


                        </div>
                        <div class="card-footer product-actions">
                            <a asp-action="Details"  asp-route-id="@product.MaHH" class="btn btn-info">View</a>
                            <a asp-action="Edit"  asp-route-id="@product.MaHH" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete"  asp-route-id="@product.MaHH" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</body>